$Roboto: Roboto, Helvetica, Arial, sans-serif;

//colors
$black: #333;
$blue: #52aff1;
$white: #fff;
$red: #de1c28;
$green: #6ece1a;
$absoluteblack: #000;
$deep-black: #262626;
// to many shades of gray
$another-gray: #eee;
$lighter-gray: #f9f9f9;
$light-gray: #f4f4f4;
$gray: #dedede;
$medium-gray: #b7b7b7;
$deep-gray: #999;
$dark-gray: #878787;
